# Advent of Code Day 1 through ...

Hello! This notebook is for Dec 3 and Dec 4; I'm currently in DC for the weekend. Since I was busy with applications for the first couple of days in December, I didn't have time to complete the first couple days so I'm catching up now. Not competing at all, just trying to see how far I can get!

In [66]:
import numpy as np
import pandas as pd

# --- Day 1: Calorie Counting ---
In case the Elves get hungry and need extra snacks, they need to know which Elf to ask: they'd like to know how many Calories are being carried by the Elf carrying the most Calories. In the example above, this is 24000 (carried by the fourth Elf).

In [12]:
f = open('input1', 'r')

max_calories = 0
current_elf = 0

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        if current_elf > max_calories: 
            max_calories = current_elf
        current_elf = 0
    else: 
        current_elf += int(line[:-1])

In [14]:
max_calories

68292

## --- Part Two ---
Find the top three Elves carrying the most Calories. How many Calories are those Elves carrying in total?

In [15]:
f = open('input1', 'r')

max_calories = 0
max2_calories = 0
max3_calories = 0
current_elf = 0

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        if current_elf > max_calories:
            max3_calories = max2_calories
            max2_calories = max_calories
            max_calories = current_elf
        elif current_elf > max2_calories: 
            max3_calories = max2_calories
            max2_calories = current_elf
        elif current_elf > max3_calories: 
            max3_calories = current_elf
        current_elf = 0
    else: 
        current_elf += int(line[:-1])

In [16]:
max_calories

68292

In [17]:
max2_calories

68056

In [18]:
max3_calories

66855

In [19]:
max_calories + max2_calories + max3_calories

203203

# --- Day 2: Rock Paper Scissors ---

In [24]:
rps_df = pd.read_csv('input2', sep = ' ', header = None)

In [38]:
rps_df_shape_score = rps_df.rename({0: 'opponent', 1: 'you'}, axis = 1)
rps_df_shape_score['your_shape_score'] = np.select(
    [
        rps_df_shape_score['you'] == 'X', 
        rps_df_shape_score['you'] == 'Y', 
        rps_df_shape_score['you'] == 'Z'
    ], 
    [
        1, 
        2, 
        3
    ], 
    default='Unknown'
)
rps_df_shape_score['opponent_shape_score'] = np.select(
    [
        rps_df_shape_score['opponent'] == 'A', 
        rps_df_shape_score['opponent'] == 'B', 
        rps_df_shape_score['opponent'] == 'C'
    ], 
    [
        1, 
        2, 
        3
    ], 
    default='Unknown'
)
rps_df_shape_score

     opponent you your_shape_score opponent_shape_score
0           A   Y                2                    1
1           B   Z                3                    2
2           C   Y                2                    3
3           B   Y                2                    2
4           A   Y                2                    1
...       ...  ..              ...                  ...
2495        A   Y                2                    1
2496        B   Y                2                    2
2497        A   Z                3                    1
2498        A   Y                2                    1
2499        A   Y                2                    1

[2500 rows x 4 columns]

In [57]:
zipped = zip(rps_df_shape_score['your_shape_score'], rps_df_shape_score['opponent_shape_score'])
rps_df_win_diff = rps_df_shape_score
rps_df_win_diff['win_diff'] = pd.Series([int(x) - int(y) for x, y in zipped], index = rps_df_shape_score.index)
rps_df_win_diff

     opponent you your_shape_score opponent_shape_score  win_diff
0           A   Y                2                    1         1
1           B   Z                3                    2         1
2           C   Y                2                    3        -1
3           B   Y                2                    2         0
4           A   Y                2                    1         1
...       ...  ..              ...                  ...       ...
2495        A   Y                2                    1         1
2496        B   Y                2                    2         0
2497        A   Z                3                    1         2
2498        A   Y                2                    1         1
2499        A   Y                2                    1         1

[2500 rows x 5 columns]

In [62]:
rps_df_win_score = rps_df_win_diff.rename({0: 'opponent', 1: 'you'}, axis = 1)
rps_df_win_score['win_score'] = np.select(
    [
        rps_df_win_score['win_diff'] == 1, 
        rps_df_win_score['win_diff'] == -2, 
        rps_df_win_score['win_diff'] == 0, 
        rps_df_win_score['win_diff'] == -1,
        rps_df_win_score['win_diff'] == 2
    ], 
    [
        6, 
        6, 
        3, 
        0, 
        0
    ], 
    default='Unknown'
)
zipped = zip(rps_df_win_score['your_shape_score'], rps_df_win_score['win_score'])
rps_df_win_score['total_score'] = pd.Series([int(x) + int(y) for x, y in zipped], index = rps_df_win_score.index)
rps_df_win_score

,opponent,you,your_shape_score,opponent_shape_score,win_diff,win_score,total_score
0,A,Y,2,1,1,6,8
1,B,Z,3,2,1,6,9
2,C,Y,2,3,-1,0,2
3,B,Y,2,2,0,3,5
4,A,Y,2,1,1,6,8
...,...,...,...,...,...,...,...
2495,A,Y,2,1,1,6,8
2496,B,Y,2,2,0,3,5
2497,A,Z,3,1,2,0,3
2498,A,Y,2,1,1,6,8
2499,A,Y,2,1,1,6,8

In [65]:
rps_df_win_score.total_score.sum()

15632

## --- Part Two ---

In [78]:
rps_df2 = rps_df_win_score[['opponent', 'you', 'opponent_shape_score']].rename({'you': 'win_symbol'}, axis = 1)
rps_df2['win_score'] = np.select(
    [
        rps_df2['win_symbol'] == 'X', 
        rps_df2['win_symbol'] == 'Y', 
        rps_df2['win_symbol'] == 'Z'
    ], 
    [
        0, 
        3, 
        6
    ], 
    default='Unknown'
)
rps_df2

     opponent win_symbol opponent_shape_score win_score
0           A          Y                    1         3
1           B          Z                    2         6
2           C          Y                    3         3
3           B          Y                    2         3
4           A          Y                    1         3
...       ...        ...                  ...       ...
2495        A          Y                    1         3
2496        B          Y                    2         3
2497        A          Z                    1         6
2498        A          Y                    1         3
2499        A          Y                    1         3

[2500 rows x 4 columns]

In [103]:
zipped = zip(rps_df2.opponent_shape_score.to_list(), rps_df2.win_symbol.to_list())
you_shape_score = []
for x, y in zipped: 
    if y == 'X': 
        new_score = int(x) - 1
        if new_score == 0: 
            new_score = 3
        you_shape_score.append(new_score)
    elif y == 'Y':
        you_shape_score.append(int(x))
    elif y == 'Z': 
        new_score = int(x) + 1
        if new_score == 4:
            new_score = 1        
        you_shape_score.append(new_score)

In [104]:
rps_df2['you_shape_score'] = pd.Series(you_shape_score, index = rps_df2.index)
rps_df2['total_score'] = [int(x) + int(y) for x, y in zip(rps_df2.win_score, rps_df2.you_shape_score)]
rps_df2

,opponent,win_symbol,opponent_shape_score,win_score,you_shape_score,total_score
0,A,Y,1,3,1,4
1,B,Z,2,6,3,9
2,C,Y,3,3,3,6
3,B,Y,2,3,2,5
4,A,Y,1,3,1,4
...,...,...,...,...,...,...
2495,A,Y,1,3,1,4
2496,B,Y,2,3,2,5
2497,A,Z,1,6,2,8
2498,A,Y,1,3,1,4
2499,A,Y,1,3,1,4

In [105]:
rps_df2.total_score.sum()

14416

# --- Day 3: Rucksack Reorganization ---

In [146]:
f = open('input3', 'r')

items = []

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        break
    h = int((len(line) - 1) / 2)
    l1 = set(line[:h])
    l2 = set(line[h:-1])
    item = l1 & l2
    items.append(str(item)[2])

items[:5]

['q', 'F', 'W', 'J', 'B']

In [167]:
item_values = []
for item in items: 
    value = ord(item) - 96
    if value < 0: 
        value = value + 58
    item_values.append(value)

In [168]:
sum(item_values)

8240

## --- Part Two ---

In [182]:
f = open('input3', 'r')

counter = 1
group = {}
items = []

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        break
    
    group[counter] = set(line[:-1])
    counter += 1

    if counter > 3: 
        items.append(str(group[1] & group[2] & group[3])[2])  
        counter = 1
        group = {}

In [184]:
item_values = []
for item in items: 
    value = ord(item) - 96
    if value < 0: 
        value = value + 58
    item_values.append(value)

In [185]:
sum(item_values)

2587

# --- Day 4: Camp Cleanup ---

In [220]:
f = open('input4', 'r')

total_lines = 0
containing_pairs = 0

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        break
    
    tkns = [[int(y) for y in x.split('-')] for x in line[:-1].split(',')]
    if tkns[0][0] >= tkns[1][0] and tkns[0][1] <= tkns[1][1]: 
        containing_pairs += 1
    elif tkns[0][0] <= tkns[1][0] and tkns[0][1] >= tkns[1][1]: 
        containing_pairs += 1
    else: 
        pass
    total_lines += 1

print(total_lines)

1000

In [222]:
containing_pairs

466

## --- Part Two ---

In [266]:
f = open('input4', 'r')

total_lines = 0

n_overlap = 0
overlapping_pairs = []

n_nonoverlap = 0
nonoverlapping_pairs = []

while True: 
    line = f.readline()
    if not line:
        break
    if line == '\n':
        break
    
    tkns = [[int(y) for y in x.split('-')] for x in line[:-1].split(',')]
    
    if tkns[0][0] >= tkns[1][0] and tkns[0][1] <= tkns[1][1]: 
            n_overlap += 1
    elif tkns[0][0] <= tkns[1][0] and tkns[0][1] >= tkns[1][1]: 
            n_overlap += 1
    elif tkns[0][0] >= tkns[1][0]: 
        if tkns[0][0] <= tkns[1][1]: 
            n_overlap += 1
    elif tkns[0][1] <= tkns[1][1]: 
        if tkns[0][1] >= tkns[1][0]: 
            n_overlap += 1
        
    total_lines += 1

print(total_lines)

1000

In [267]:
n_overlap

865